<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chevon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Chevon.My.MySettings>
            <setting name="PublicKey" serializeAs="String">
                <value>G/cUBW3W5mNRrGNKKGpddQ==</value>
            </setting>
            <setting name="EncryptKey" serializeAs="String">
                <value>1zb7U!53=e1L]7JI[Uv3fz,zwc3s4E</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>uEUOqyST52v2XxOV3Le-0wKvhtdrfGLsDnLCXotTerzwITKmY87xn8ATnM3ZnQgzRHM2N66gV4qEq1mAt7pSs__0XKXbp9PMrsjTWKYpltMT50upx34dRCOTn-AZJL3J7HE1NzQzEE603tIlNdw85zAMSRHKVG3q1cDScgVepwV0Efo3COYkE3RAN8lxyVCMrh6a-LdogpcvGP8buUCo335og13DiIH78Gnpn45x2XnvCzn_srYxUEwKineugQzDgRwh4KIkEXl_T1PLk0FfZQ4eZAV9LrHUIa4FZiYgQKUeHvY4um4hS8JFcYkcyAHk_B0m-547jx9AneordiFLQqDdXbSlXAnM6Vhl7qaoKbiPqxhLwdfruL2tdrWp8Oc4T6YIF1ppX_4H62MLXLXtppaSU3aHdO_n_naD0HW0NqcOdED7vVv0WiZFka-ek2_-a1E642CIU87rOpA0KltGXvIZivCjMCIRH9w3us4arLg</value>
            </setting>
            <setting name="Expiration" serializeAs="String">
                <value>1295999</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>cccubed</value>
            </setting>
            <setting name="Issued" serializeAs="String">
                <value>Mon, 13 Jul 2015 05:44:27 GMT</value>
            </setting>
            <setting name="Expires" serializeAs="String">
                <value>Tue, 28 Jul 2015 05:44:27 GMT</value>
            </setting>
        </Chevon.My.MySettings>
    </userSettings>
</configuration>